/*.gmo
/*.mo
/.intltool-merge-cache
/Makefile
/Makefile.in
/POTFILES
/messages
/missing
/po2tbl.sed.in
/stamp-it
/Makefile.in.in
/Makevars.template
/Rules-quot
/boldquot.sed
/*@boldquot.header
/*@quot.header
/insert-header.sin
/quot.sed
/remove-potcdate.sin
/stamp-po
/remove-potcdate.sed