/.deps/
/Makefile
/Makefile.in
/org.gnome.gitlab.dqpb.GMetronome.gschema.valid
/org.gnome.gitlab.dqpb.GMetronome.gschema.xml
/org.gnome.gitlab.dqpb.GMetronome.metainfo.xml.in
/org.gnome.gitlab.dqpb.GMetronome.metainfo.xml
/org.gnome.gitlab.dqpb.GMetronome.desktop.in
/org.gnome.gitlab.dqpb.GMetronome.desktop
/.dirstamp
/TAGS